<div class="motoboy-order-card">
  <div
    class="card-header"
    [ngStyle]="
      order.statusOrder.idStatusOrder === 3
        ? {
            'background-color': '#404040'
          }
        : { 'background-color': '#E8BB2D' }
    "
  >
    <h3>#{{ order.idOrder }} - {{ order.statusOrder.nameStatus }}</h3>
  </div>

  <div class="card-content">
    <div class="user-info">
      <span class="label">Nome: </span>
      <p>{{ order.user.name }}</p>
    </div>

    <div class="user-info">
      <span class="label">Endereço: </span>
      <p>{{ order.user.address }}</p>
    </div>

    <div class="order-pizzas">
      <span class="label">Itens do pedido: </span>

      <ul class="order-itens" *ngFor="let orderPizza of order.orderPizzas">
        <li>
          {{ orderPizza.pizza.name }} ({{ orderPizza.quantity }}x) -
          {{
            (orderPizza.pizza.price).toLocaleString(
              "pt-br",
              { style: "currency", currency: "BRL" }
            )
          }}
        </li>
      </ul>
    </div>

    <button
      *ngIf="order.statusOrder.idStatusOrder === 3"
      class="button-order-action"
      [ngStyle]="{ 'background-color': '#404040' }"
    >
      <span (click)="orderUpdateStatusDeliveryRoute()">Aceitar </span>
    </button>

    <button
      *ngIf="order.statusOrder.idStatusOrder === 4"
      class="button-order-action"
      [ngStyle]="{ 'background-color': '#E8BB2D' }"
    >
      <span (click)="goToMotoboyOrderDetail(order.idOrder)">Acompanhar</span>
    </button>
  </div>
</div>
