:host {
  display: flex;
  flex-direction: column;
}

.my-orders-div {
  display: flex;
  justify-content: end;
  padding: 0px 1rem;
  margin-top: 1rem;
}

.my-orders-div button {
  padding: 0.5rem;
  background-color: #ed1d24;
  border: none;
  color: #FFF;
  border-radius: 1rem;
}

.category-list {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 2rem;
}

.category {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: -1px 8px 21px -14px rgba(26, 26, 26, 1);
  -moz-box-shadow: -1px 8px 21px -14px rgba(26, 26, 26, 1);
  box-shadow: -1px 8px 21px -14px rgba(26, 26, 26, 1);

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.category span {
  font-weight: 600;
  font-size: 14px;
}

.pizza-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem 4rem 1rem;
}

.cart-footer {
  background-color: #ed1d24;
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.cart-footer span {
  color: #FFF;
  font-weight: 600;
}

.cart-icon {
  position: relative;
  display: flex;
}

.cart-icon span {
  position: absolute;
  top: -4px;
  right: -6px;
  background-color: #A10000;
  font-size: 12px;
  padding: 2px;
  min-width: 15px;
  text-align: center;
  border-radius: 0.5rem;
}