* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-half {
    background-color: #ED1D24; /* Cor vermelha */
    flex: 1; /* Ocupa a metade superior */
}

.bottom-half {
    background-color: white; /* Cor branca */
    flex: 1; /* Ocupa a metade inferior */
}
