<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="tela-login.component.css"> 
</head>
<body>
  <body>
    <div class="container">
        <div class="status-bar">
            <div>Normal</div>
            <div>9:41</div>
            <div>WiFi</div>
        </div>
        <div class="top-half">
            <div class="new-container">
                <img src="foto.pizza.png" alt="Imagem de pizza">
                <div class="unas-pizzas">UnasPizzas</div>
            </div>
        </div>
        <div class="bottom-half">
            <div class="welcome-message">Bem-vindo de volta!</div>
            <div class="login-message">Logue para continuar</div>
            <form>
                <input type="email" placeholder="E-mail" required>
                <label>
                    <button type="submit">Entrar</button>
                </label>
            </form>
            <div class="forgot-password"> Esqueceu a senha?</div>
        </div>
    </div>
   
<html>
