.order-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.order-header button {
  display: flex;
  background: none;
  border: none;
}

.order-header h1 {
  font-size: 1.3rem;
  text-align: center;
}

.user-order-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}