<div class="sigup-screen">
  <div class="top-half">
    <div class="new-container">
      <img src="foto-pizza.png" alt="Imagem de pizza" />
      <h1 class="unas-pizzas">UnasPizzas</h1>
    </div>
  </div>

  <div class="bottom-half">
    <div class="form-content">
      <div>
        <h2 class="welcome-message">Bem-vindo!</h2>
        <h3 class="sigup-message">Cadastre-se</h3>
      </div>

      <div class="input-label">
        <div class="inputs">
          <input [(ngModel)]="name" type="text" placeholder="Nome" required />
          <input
            [(ngModel)]="email"
            type="email"
            placeholder="E-mail"
            required
          />
          <input
            [(ngModel)]="address"
            type="text"
            placeholder="Endereço"
            required
          />
        </div>

        <span (click)="goToLogin()">Entre com sua conta!</span>

        <button (click)="handleSignup()" type="submit" class="button-signup">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>
